<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Real Estate</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="realEstateApp/site.css" rel="stylesheet" />
</head>
<body ng-app="realestateApp" class="ng-scope">
    <div class="panel panel-default">
      
        <div class="container" ng-controller="tenantsController" ngcloak>
            <h1>Tenants</h1>
            <div class="row">
                <div>
                    <button class="btn btn-primary" ng-click="previousTenant()">
                        Previous
                    </button>
                    <button class="btn btn-primary" ng-click="nextTenant()">
                        Next
                    </button>
                    <button class="btn btn-success" ng-click="addTenant()">
                        Add
                    </button>
                    <button class="btn btn-danger" ng-click="deleteTenant()">
                        Delete
                    </button>
                    <br style="clear:both">
                    <br>
                </div>
            </div>
            <form name="tenantForm" novalidate style="width: 500px">
                <div class="row">
                    <div ng-repeat="tenant in tenant">
                        <div class="form-group">
                            <label>First Name: </label>
                            <input type="text"
                                   placeholder="First Name"
                                   name="FirstName"
                                   ng-model="tenant.FirstName"
                                   firstname 
                                   userexists 
                                   required />
                            <div ng-if="tenantForm.FirstName.$pending">
                                Searching....
                            </div>
                            <div ng-messages="tenantForm.FirstName.$error" ng-messages-include="messages.html" class="errors">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text"
                                   placeholder="Company"
                                   name="Company"
                                   ng-model="tenant.Company"
                                   company required />
                            <div ng-if="tenantForm.HomePhone.$pending">
                                Calculating....
                            </div>
                            <div ng-messages="tenantForm.Company.$error" ng-messages-include="messages.html" class="errors">
                            </div>
                        </div>                      
                    </div>
                </div>               
            </form>
        </div>
    </div>

    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="realEstateApp/realestateApp.js"></script>
    <script src="realEstateApp/controllers/tenantsController.js"></script>
    <script src="realEstateApp/services/tenantService.js"></script>
    <script src="Scripts/angular-messages.js"></script>
</body>
</html>
